form{
    display: grid;
    border-style: groove;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: lightblue;
    margin-left: 60px;
    border-radius: 20px;
    
}
body{
background-color: lemonchiffon;
padding: 30px;
}
.title{
    text-align: center;
    background-color: aquamarine;
    padding: 30px;
    font-size: larger;
    font-style: oblique;
}
#results{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin-left: 50px;
    border-radius: 30px;
    
}
section{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}
.instruction{
    font-size: xx-large;
    font-style: italic;
}